# Logs
/storage/logs/*
!.gitkeep

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Composer
/vendor/

# Node
/node_modules/

# Temp
*.tmp
*.temp

# Cache
*.cache

# WAMP
wamp64.conf

# Uploads futurs
/public/uploads/*
!/public/uploads/.gitkeep